.services {
    padding-top: 35px;
    padding-bottom: 35px;
  }

 .ul-services {
   display: flex;
   width: 100%;
   align-items: stretch;
   flex-wrap: wrap;
   justify-content: space-between;
 }

 .li-services{
   flex: 0 0 49%;
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   padding-top: 200px;
   padding-bottom: 50px;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   border-radius: 15px;
   padding-left: 50px;
   padding-right: 70px;
   margin-bottom: 20px;
   background-size: contain;
   color: #666666;
   overflow: hidden;
 }

 .a-services {
    display: inline-block;
    background-image: url(../img/стрелка2.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--color-btn-link-text);
    background-position: right center;
    padding-right: 20px;
    font-weight: bold;
    font-size: 22px;
 }

 /*.a-services:hover {
  color: #a36e04;
 }*/

 .img1 {
   background-image: url(../img/10.jpg);
 }

 .img2 {
  background-image: url(../img/15.jpg);
}

.img3 {
  background-image: url(../img/12.jpg);
}

.img4 {
  background-image: url(..//img/carlo-d-agnolo-aFxSh_l4fbY-unsplash.jpg);
}

 .p-services {
   font-size: 16px;
   line-height: 2;
   padding-top: 10px;
 }
